.card__block {
    padding: 41px 45px;
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
    width: 380px;
    text-align: start;
    margin-top: 24px;
    height: 523px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__span {
    font-weight: 400;
    font-size: 16px;
    height: 38px;
    letter-spacing: 0;
    display: block;
    color: #f9f9f9;
    margin-top: 5px;
}

.card__icon {
    width: 173px;
    margin-bottom: 27px;
}

.card__title {
    width: 180px;
    font-weight: 800;
    font-size: 27px;
    height: 38px;
    letter-spacing: 0;
    color: #f9f9f9;
    margin-bottom: 32px;
}

.card__text {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.2px;
    display: flex;
    margin-bottom: 10px;
    &::before {
        content: url("../../../../images/true.svg");
        display: block;
        margin-right: 5px;
    }
}

.card__btn {
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 18px 109px;
    background-color: #0063e5;
}
.card__cost{
    margin-bottom: 16px;
    display: flex;
}
.card__cost_span{
    font-weight: 400;
    font-size: 16px;
    height: 38px;
    letter-spacing: 0;
    color: #f9f9f9;
    opacity: 0.8;
    line-height: 35px;
}