.header {
    background-image: url("../../../images/header-bg.jpg");
    padding-top: 10px;
    padding-bottom: 140px;
}

.header__btn {
    color: #f9f9f9;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: center;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 16px;
    display: block;
    margin-left: auto;
    margin-right: 40px;
    background-color: #000000cc;
}

.header__box {
    width: 639px;
    padding-top: 78px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header__item {
    width: 307px;

}

.header__list {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
}

.header__icon {
    margin-bottom: 28px;
}

.header__block_btn {
    border-radius: 4px;
    background-color: #0063e5;
    color: #f9f9f9;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: center;
    padding: 21px 70px;
}

.header__text {
    color: rgb(192, 192, 192);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
}

.header__txt {
    color: #f9f9f9;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top: 30px;
}