.footer__container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 49px;
}

.list__box {
    display: flex;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 25px;
    justify-content: center;
}

.footer__img {
    margin-bottom: 10px;
}

.list__link {
    color: #c0c0c0;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.footer__text{
    width: 298px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
